<mat-grid-list cols="5" rowHeight="131">
  <mat-grid-tile [colspan]="colunasTitulo" [rowspan]="1">
    <mat-toolbar>
      <span>Stock Home</span>
    </mat-toolbar>
  </mat-grid-tile>
  <mat-grid-tile
    *ngIf="abaEstatisticasLateral"
    [colspan]="colunasAbaEstatisticas"
    [rowspan]="7"
    [style.background]="'#22142b'"
  >
    <app-painel
      [listaItens]="listaItens"
      [categorias]="categorias"
    ></app-painel>
  </mat-grid-tile>
  <mat-grid-tile
    [colspan]="colunasAbaCadastro"
    [rowspan]="6"
    [style.background]="'#22142b'"
  >
    <app-cadastro-item [categorias]="categorias"></app-cadastro-item>
  </mat-grid-tile>
  <mat-grid-tile
    [colspan]="colunasAbaLista"
    [rowspan]="6"
    [style.background]="'#22142b'"
  >
    <app-lista-itens
      [listaItens]="listaItens"
      [categorias]="categorias"
    ></app-lista-itens>
  </mat-grid-tile>
  <mat-grid-tile
    *ngIf="!abaEstatisticasLateral"
    [colspan]="colunasAbaEstatisticas"
    [rowspan]="7"
    [style.background]="'#22142b'"
  >
    <app-painel
      [listaItens]="listaItens"
      [categorias]="categorias"
    ></app-painel>
  </mat-grid-tile>
</mat-grid-list>
