<mat-grid-list cols="5" rowHeight="fit">
  <mat-grid-tile [colspan]="4" [rowspan]="1">
    <mat-toolbar>
      <span>Stock Home</span>
    </mat-toolbar>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="7" [style.background]="'#22142b'">
    Two
  </mat-grid-tile>
  <mat-grid-tile [colspan]="2" [rowspan]="6" [style.background]="'#22142b'">
    <app-cadastro-item></app-cadastro-item>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="2" [rowspan]="6" [style.background]="'#22142b'">
    Four
  </mat-grid-tile>
</mat-grid-list>
