<mat-grid-list cols="5" rowHeight="fit">
  <mat-grid-tile [colspan]="4" [rowspan]="1">
    <mat-toolbar>
      <span>Stock Home</span>
    </mat-toolbar>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="7" [style.background]="'#22142b'">
    <app-estatisticas
      [listaItens]="listaItens"
      [categorias]="categorias"
    ></app-estatisticas>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="2" [rowspan]="6" [style.background]="'#22142b'">
    <app-cadastro-item [categorias]="categorias"></app-cadastro-item>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="2" [rowspan]="6" [style.background]="'#22142b'">
    <app-lista-itens
      [listaItens]="listaItens"
      [categorias]="categorias"
    ></app-lista-itens>
  </mat-grid-tile>
</mat-grid-list>
