.example-action-buttons {
    padding-bottom: 20px;
}

.example-headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
}

.example-headers-align .mat-mdc-form-field + .mat-mdc-form-field {
    margin-left: 8px;
}

.mat-expansion-panel.mat-expanded{
    margin: 0;
    border-radius: 0px;
}

mat-chip {
    background-color: #e0b4fb!important;
}

mat-list strong{
    color: #673ab7;
}