:host {
    height: 100%;
    width: 100%;
    display: block;
    padding-left: 50px;
    padding-right: 50px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #996aca #58386e;
}

:host::-webkit-scrollbar {
    width: 8px;
}

:host::-webkit-scrollbar-track {
    background: #9e0cff;
}

:host::-webkit-scrollbar-thumb {
    background-color: #996aca;
    border-radius: 10px;
}

:host::-webkit-scrollbar-thumb:hover {
    background-color: #996aca;
}	

h1 {
    margin-top: 40px;
    margin-bottom: 20px;
}

h4{
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 10px;
    margin-top: 0px;
}

.campo-input {
    width: 100%;
    margin-bottom: 10px;
}

#btnSalvar {
    width: 100%;
    height: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
}


.div-prioridade{
    display: flex;
    width: 100%;
}

.div-prioridade h4{
    align-self: center;
    margin-bottom: 0px;
}

.btn-prioridade{
    display: flex;
    justify-content: space-around;
    width: 60%;
    margin-left: 20px;
}

.btn-prioridade button{
    border-radius: 25px;
    height: 30px;
}

.btn-prioridade button:hover{
    animation: Aumentar 500ms ease 0s 1 normal forwards !important;
    background-color: #fce08b;
}

.btn-prioridade button:first-child:hover{
    background-color: #acf4db;
}

.btn-prioridade button:last-child:hover{
    background-color: #f9af99;
}

.btn-prioridade button.btn-prioridade-selecionada{
    background-color: #ffc107;
}

.btn-prioridade button:first-child.btn-prioridade-selecionada{
    background-color: #74fbcc;
}

.btn-prioridade button:last-child.btn-prioridade-selecionada{
    background-color: #ff5722;
}

@keyframes Aumentar {
	0% {
		transform: scale(1);
	}

	100% {
		transform: scale(1.1);
	}
}


@media (max-width: 1200px) {
    :host {
        padding-left: 20px;
        padding-right: 20px;
    }
}

