:host {
    width: 100%;
    height: 100%;
    padding-left: 30px;
    padding-right: 30px;
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: #996aca #58386e;
}

:host::-webkit-scrollbar {
    width: 8px;
}

:host::-webkit-scrollbar-track {
    background: #9e0cff;
}

:host::-webkit-scrollbar-thumb {
    background-color: #996aca;
    border-radius: 10px;
}

:host::-webkit-scrollbar-thumb:hover {
    background-color: #996aca;
}

:host>div{
    padding-bottom: 30px;
}

.titulo-lista{
    padding-top: 40px;
    margin-bottom: 20px;
}

mat-form-field{
    width: 100%;
}

h4{
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 10px;
    margin-top: 0px;
}

.texto-nenhum-item{
    text-align: center;
    margin-top: 250px;
}