<div>
  <h1 class="mat-h1 titulo-lista">Lista de Itens</h1>
  <h4>Filtro</h4>
  <mat-form-field class="campo-input">
    <mat-label>Nome do item que deseja buscar</mat-label>
    <input
      type="search"
      matInput
      [(ngModel)]="campoFiltroCards"
      [disabled]="!listaItens.length"
    />
  </mat-form-field>

  <ng-container *ngFor="let item of listaItensFiltrada; let i = index">
    <app-card-item
      *ngIf="item.filtrado"
      [item]="item"
      [index]="i"
    ></app-card-item>
  </ng-container>
  <div *ngIf="!listaItens.length" class="d-flex justify-content-center mt-3">
    <h1 class="mat-h1 texto-nenhum-item">Nenhum item cadastrado!</h1>
  </div>
</div>
